@model List<ArticleModel>
@{
    ViewData["Title"] = "Лента статей";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool? ArticleCreated = (bool?)TempData["Created"];
    bool? ArticleDeleted = (bool?)TempData["Deleted"];
    bool? CommentCreated = (bool?)TempData["CommentCreated"];
    bool? IsUsersArticle = (bool?)TempData["IsUsersArticle"];
}

<h1>@ViewData["Title"]</h1>

@if (IsUsersArticle.HasValue && IsUsersArticle.Value)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Внимание!</strong> Вы не можете редактировать чужую статью.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (CommentCreated.HasValue && CommentCreated.Value)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Ошибка!</strong> Коментарий не был добавлен.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (ArticleCreated.HasValue)
{
    @if (ArticleCreated.Value)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Добавлено!</strong> Статья успешно сохранена.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ошибка!</strong> Не удалось сохранить статью. Что-то пошло не так.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

@if (ArticleDeleted.HasValue)
{
    @if (ArticleDeleted.Value)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Удалено!</strong> Статья успешно удалена.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ошибка!</strong> Статья не была удалена. Что-то пошло не так.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}



@*Article list*@

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row"><a asp-action="Create" class="btn btn-success">Добавить</a></div>
        <br />
        <div class="row">

            @using (Html.BeginForm("List", "Article", new { }, FormMethod.Get, false, new { @class = "" }))
            {
                <div>
                    @Html.DropDownList("CategoryId", ViewData["Categories"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                </div>

                <input type="submit" />
            }
        </div>

        <div class="row">
            @foreach (ArticleModel article in Model)
            {
                ArticleImageModel img = article.ArticleImages.FirstOrDefault();
                string articleTopic = new string(article.Topic.Take(10).ToArray());

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        @if (img != null && !string.IsNullOrEmpty(img.UrlPath))
                        {
                            @*src="data:@img.ImageMimeType;base64,@(Convert.ToBase64String(img.File))"*@
                            <img class="card-img-top" alt="@articleTopic [100%x225]" style="height: 225px; width: 100%; display: block;" src="@Url.Content(img.UrlPath)" data-holder-rendered="true">
                        }
                        else
                        {
                            <img class="card-img-top" alt="@articleTopic [100%x225]" style="height: 225px; width: 100%; display: block;" src="@Url.Content("~/Files/defimg.png")" data-holder-rendered="true">
                        }
                        <div class="card-body">
                            <p class="card-text">@articleTopic</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @Html.ActionLink("View", "", new { id = article.Id }, new { @class = "btn btn-sm btn-outline-secondary" })
                                    @Html.ActionLink("Edit", "Update", new { id = article.Id }, new { @class = "btn btn-sm btn-outline-secondary" })
                                </div>
                                <small class="text-muted"><span class="fi-collapse-left"></span></small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>