@model CategoryModel
@{
    ViewData["Title"] = "Создание новой категории";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<div class="panel panel-success">
    <div class="panel-heading">@ViewData["Title"]</div>
    <div class="panel-body">
        @Html.ValidationSummary()
        @using (Html.BeginForm("Create", "AdminCategory", new { }, FormMethod.Post, true, new { @class = "form-control" }))
        {
            <div>
                <div>
                    <select id="Type" name="Type" class="form-control">
                        @foreach (SelectListItem item in (ViewData["CategoryTypes"] as IEnumerable<SelectListItem>))
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
                <div>
                    @Html.ValidationMessageFor(e => e.Name)
                    <br />
                    @Html.LabelFor(e => e.Name)
                    <br />
                    @Html.EditorFor(e => e.Name)
                    <br />
                </div>

                <div>
                    <input class="btn btn-success" type="submit" value="Добавить" />
                </div>
            </div>
        }
    </div>
</div>
