@using System.Globalization;
@model ProjectCaseModel
@{
    ViewData["Title"] = Model?.ProjectName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Ошибка!</strong> Проект не доступен. Попробуйте позже или <a href="#">свяжитесь</a> с администрацией.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else
{
    <h3>@ViewData["Title"]</h3>
    <br />

    @if (!string.IsNullOrEmpty(Model.UrlPath))
    {
        <div>
            <img class="card-img-top" alt="@Model.ProjectName [100%x225]" style="height: 225px; width: 100%; display: block;" src="@Url.Content(Model.UrlPath)" data-holder-rendered="true">
        </div>
    }

    <br />
    <div>@Model.Description</div>
    @if (Model.Cost > 0)
    {
        <br />
        <br />
        <div>
            <p>Этот проект можно заказать.</p>
        </div>
        <div class="row">
            @using (Html.BeginForm("Add", "Cart", new { }, FormMethod.Post, true, new { @class = "" }))
            {
                @Html.Hidden("Id", new { id = Model.Id })
                @Html.Hidden("Cost", new { Cost = Math.Round(Model.Cost, 2) })

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@Model.Cost.ToString("C2", CultureInfo.GetCultureInfo("en-US"))</span>
                    </div>
                    <input id="quantity" name="quantity" placeholder="Количество" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-outline-success btn-sm" value="Добавить в корзину" />
                    </div>
                </div>
            }
        </div>
    }

}