@using Microsoft.AspNetCore.Identity
@model ArticleModel
@{
    ViewData["Title"] = Model?.Topic;
    Layout = "~/Views/Admin/_Layout.cshtml";
    bool? CommentCreated = (bool?)TempData["CommentCreated"];
    bool? CommentRemoved = (bool?)TempData["CommentRemoved"];

}

@if (Model == null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Ошибка!</strong> Статья не доступна. Попробуйте позже или <a href="#">свяжитесь</a> с администрацией.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else
{
    <h3>@ViewData["Title"]</h3>
    <br />


    @if (CommentCreated.HasValue)
    {
        @if (CommentCreated.Value)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Добавлено!</strong> Комментарий добавлен.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        else
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Ошибка!</strong> Комментарий не был добавленю
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }

    @if (CommentRemoved.HasValue)
    {
        @if (CommentRemoved.Value)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Удалено!</strong> Комментарий удален.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        else
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Ошибка!</strong> Комментарий не был удален
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }

    <div>@Model.Text</div>
    <br />

    @foreach (ArticleImageModel img in Model.ArticleImages)
    {
        string articleTopic = new string(Model.Topic.Take(10).ToArray());

        @if (img != null)
        {
            <div>
                <img class="card-img-top" alt="@articleTopic [100%x225]" style="height: 225px; width: 100%; display: block;" src="@Url.Content(img.UrlPath)" data-holder-rendered="true">
            </div>
        }
    }

    <div>
        @Html.ActionLink("Редактировать", "Update", new { id = Model.Id }, new { @class = "btn btn-warning" })
    </div>
    <div>
        @using (Html.BeginForm("Remove", "AdminArticle", null, FormMethod.Post, true, new { @class = "" }))
        {
            @Html.Hidden("Id", Model.Id)
            <input class="btn btn-danger" type="submit" value="Удалить" />
        }
    </div>

    <!--<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />-->

    <style>
        .comments ul ul {
            margin-left: 60px;
        }

        .comments .comment img {
            margin-right: 20px;
        }

        .comments .comment {
            padding: 6px;
        }

            .comments .comment:hover {
                background: #eee;
            }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Комментарии
                    </div>
                    <div class="panel-body comments">
                        @if (CommentCreated.HasValue)
                        {
                            @if (CommentCreated.Value)
                            {
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>Добавлено!</strong> <span>Коментарий добавлен.</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div id="commentFail" class="alert alert-warning alert-dismissible fade hide" role="alert">
                                    <strong>Ошибка!</strong><span>Коментарий не добавлен</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                        }

                        <br>
                        @using (Html.BeginForm("AddComment", "AdminArticle", null, FormMethod.Post, true, new { @class = "" }))
                        {
                            @Html.Hidden("ArticleId", Model.Id)
                            <textarea id="text" name="text" class="form-control" placeholder="Оставьте Ваш комментарий" rows="5"></textarea>

                            @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <button type="submit" class="btn btn-info pull-right"><i class="glyphicon glyphicon-pencil"></i>Отправить</button>
                            }
                            else
                            {
                                <a class="small pull-left" href="@Url.Action("Login", "Account")"><i class="glyphicon glyphicon-lock"></i>Войти или зарегистрироваться</a>
                            }
                        }
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            @foreach (CommentModel comment in Model.Comments)
                            {
                                <li class="media">
                                    <div class="comment">
                                        <div class="media-body">
                                            <strong class="text-success"></strong>
                                            <span class="text-muted">
                                                @comment.UserName
                                                <small class="text-muted">(default)yyyy-dd-mm</small>
                                            </span>
                                            <p>
                                                @comment.Text
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div>
                                        @using (Html.BeginForm("RemoveComment", "AdminArticle", null, FormMethod.Post, true, new { @class = "" }))
                                        {
                                            @Html.Hidden("Id", comment.Id)
                                            @Html.Hidden("ArticleId", Model.Id)
                                            <input class="btn btn-danger btn-sm" type="submit" value="[X] Удалить" />
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

}